---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Astro Playground";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-black">
    {pageTitle}
  </h1>
</BaseLayout>
