---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greetings from "../components/Greetings.vue";

const pageTitle = "Astro Playground";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-black">
    {pageTitle}
  </h1>
  <Greetings client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>
